# %h/.config/systemd/user/ovos-listener.service
[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-listener
Description=Open Voice OS - Listener
PartOf=ovos.service
Requires=ovos.service ovos-messagebus.service ovos-core.service ovos-phal.service
After=ovos.service ovos-messagebus.service ovos-core.service ovos-phal.service

[Service]
WorkingDirectory=%h/.venvs/ovos
ExecStart=%h/.venvs/ovos/bin/ovos-dinkum-listener
ExecReload=/usr/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5s
TimeoutStartSec=5min

[Install]
WantedBy=ovos.service
