# %h/.config/systemd/user/ovos.service
[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/what-is-it/
Description=Open Voice OS - Meta service
After=network-online.target
Requires=pipewire.socket

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=default.target
